---
layout: handbook-page-toc
title: Manage Stage
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Manage
{: #welcome}

The responsibilities of this stage are described by the [Manage product
category](/handbook/product/categories/#manage-stage). Manage is made up of multiple groups, each with their own categories and areas of
responsibility.

* I have a question. Who do I ask?

In GitLab issues, questions should start by @ mentioning the relevant Product Manager for the [category](/handbook/product/categories/#dev). GitLab employees can also use [#s_manage](https://gitlab.slack.com/messages/CBFCUM0RX).

## How we work

* In accordance with our [GitLab values](/handbook/values/).
* Transparently: nearly everything is public, we record/livestream meetings whenever possible.
* We get a chance to work on the things we want to work on.
* Everyone can contribute; no silos.
  * The goal is to have product give engineering and design the opportunity to be involved with direction and issue definition from the very beginning.

## OKRs

For a list of active OKRs, [check the OKR project](https://gitlab.com/gitlab-com/gitlab-OKRs/-/issues/?sort=created_date&state=opened&label_name%5B%5D=devops%3A%3Amanage&milestone_title=Started&first_page_size=50).

## Direction

The direction and strategy for Manage is documented on [https://about.gitlab.com/direction/manage/](https://about.gitlab.com/direction/manage/). This page (and the category direction
pages under the "Categories" header) is the single source of truth on where we're going and why.
* Direction pages should be reviewed regularly by Product. When updating these pages, please CC the relevant group to keep your teammates informed.
* Product should make sure that their groups understand the direction and have an opportunity to contribute to it. Consider a monthly direction AMA for your group to field questions.

## Career Development

### Giving / receiving feedback

It can be hard to understand how you're doing in your role, because feedback can come off as formal (annual reviews, 360 surveys, career development conversations, goal check-ins) or casual (in Slack channels, 1-1's, MR reviews, team meetings.) We receive various kinds of feedback regularly and through different formats, so the type of feedback you're receiving is not always clear. In order to be more intentional about the types of feedback given, here is a classification chart based on [three types of feedback](https://forimpact.org/three-types-feedback/#:~:text=%E2%80%9CFeedback%20comes%20in%20three%20forms,about%20relationship%20and%20human%20connection.):

| Label | Meaning | Example |
|---|---|---|
| **(appreciation)** | I want to thank you for doing this, and please do more of it in the future | "I did not expect that you would have created a working group, because you've done so, our whole team will benefit from the results." |
| **(coaching)** | I'm trying to help you improve a behavior you are already exhibiting or change a behavior that you currently have | "The reports that you give me are very helpful, and in the future we can schedule them for the first of the month to be more consistent." |
| **(evaluation)** | Tells you where you stand according to existing standards or expectations | "My expectation was that our decision would be transparent. Since it was not, our team has forgotten the decision, so we must be sure and meet that expectation next time." |

### Engineering Managers

This section lists relevant experience areas for individual contributors interested in the management track, new engineering managers, or existing engineering managers who may be lacking opportunities. This list can be used to identify opportunities in these areas.

<details markdown=1>
<summary>Expert hiring manager</summary>

**Expert hiring manager**

- Experience with behavioral interviews
- Screening candidates for your team
- Identifying cultural answers or clarifying vague answers
- Identifying a headcount need in advance

</details>

<details markdown=1>
<summary>Performance management</summary>

**Performance management**

- Crucial conversations
- Performance improvement plans
- Coaching on improvement areas
- Giving feedback
- Identifying underperformance

</details>

<details markdown=1>
<summary>Communicating company decisions</summary>

**Communicating company decisions**

- Annual review, calibration sessions, compensation discussions
- Motivating team members on opportunities that come with negatives (borrow requests, engineering allocations, feature change locks)

</details>

<details markdown=1>
<summary>Product area</summary>

**Product area**

- Triage reports
- Define and monitor productivity metrics, take action if necessary
- Collaborative planning
- Proactively identifying issues or recommending engineering allocations
- Leading an incident in your area
- Proposing and driving a borrow request (reactive)
- Shared OKRs and delivery
- Monthly Performance Indicator [updates](https://gitlab.com/gitlab-com/Product/-/issues/?search=%22Monthly%20Dev%20Section%20PI%22&sort=weight_desc&state=all&first_page_size=50)

</details>

<details markdown=1>
<summary>Team success</summary>

**Team success**

- Career growth development leading to promotions, mentors, technical interviews, maintainers
- Setting goals based on 360 feedback and career aspirations
- Smooth onboarding process
- Frequent and transparent handbook updates
- Identifying performance indicators for the team
- Becoming a mentor

</details>

<details markdown=1>
<summary>Achieving consensus</summary>

**Achieving consensus**

- Facilitating a working group
- Participating in stage, sub-department, skip level, and/or engineering manager discussions
- Coordinating the dev on-call
- Experience with being Incident Manager On-Call ([IMOC](/handbook/engineering/infrastructure/incident-management/#incident-manager-responsibilities))
- Collaboration with the full product group [quad planning](/handbook/engineering/infrastructure/test-platform/quad-planning/)

</details>

<details markdown=1>
<summary>Personal growth</summary>

**Personal growth**

- Receiving feedback
- Continued learning, identifying new growth opportunities, and building a personal growth plan
- Seeking a mentor

</details>


#### Trainings offered by GitLab for EMs

- [Elevate Manager Training](/handbook/people-group/learning-and-development/elevate/)
- [Crucial Conversations](/handbook/people-group/learning-and-development/learning-initiatives/crucial-conversations/)

#### Other resources

- Slack [#aspiring-managers](https://gitlab.slack.com/archives/C029TEKMDQ8) channel
- [Handbook page](/handbook/engineering/development/dev/training/ic-to-manager/) dedicated to growing leadership skills for ICs

### Staff Engineers

For an explanation on what to expect as a Staff engineer and a list of ideas for tactical initaitives, [visit this page](/handbook/engineering/development/dev/training/staff-engineers).


## Holiday Gift Exchange (2023)

We will kick off the holiday season on December 8 by _optionally_ participating in a Secret Santa exchange - an exchange where a group of colleagues will exchange holiday presents anonymously with each member of the group being assigned to another member to provide a small gift. 
1. The exchange amount will be $30 USD, including shipping and tax fees. This amount cannot be expensed and would need to be paid for out of pocket. Team members are not required to participate.
1. [A form has been provided](https://forms.gle/NXCXbWWWbF2HeSk4A) to sign up. This form will include ideal gift ideas for yourself, as well as your formatted mailing address, and local / online stores to choose your gift from.
1. The form will close on December 13. At this time, your Secret Santa will be randomly selected and you will be given the name of a team member to buy a gift for, their ideal gift idea and local buying options if available.
1. Your address will not be shared with anyone other than the person sending your gift, and the organizer (@wortschi).

## Meetings

Although we have a bias for asynchronous communication, synchronous meetings are necessary and should adhere to our [communication guidelines](/handbook/communication/#video-calls). Some regular meetings that take place in Manage are:

| Frequency | Meeting                              | DRI         | Possible topics                                                                                        |
|-----------|--------------------------------------|-------------|--------------------------------------------------------------------------------------------------------|
| Every other Monday | Engineering managers discussion | @m_gill | Ideas, help or resources needed from others, concerns, questions, etc.                                 |
| Monthly   | Stage-level social call              | @mksionek     | Getting to know each other                                                                             |


For one-off, topic specific meetings, please always consider recording these calls and sharing them (or taking notes in a [publicly available document](https://docs.google.com/document/d/1kE8udlwjAiMjZW4p1yARUPNmBgHYReK4Ks5xOJW6Tdw/edit)).

Agenda documents and recordings can be placed in the [shared Google drive](https://drive.google.com/drive/u/0/folders/0ALpc3GhrDkKwUk9PVA) (internal only) as a single source of truth.

All meetings should have an agenda prepared at least 12 hours in advance. If this is not the case, you are not obligated to attend the meeting. Consider meetings canceled if they do not have an agenda by the start time of the meeting.

## Shared calendars

1. Manage: Important Dates - Use this calendar for stage-wide reminders (OKR due dates, promotion cycles, talent assessment timelines, regular holiday preparations)
   * To add this calendar to your Google Calendar, use this calendar ID `c_kvfbp2t8edtgm4rjialus0834g@group.calendar.google.com`
1. Manage Shared - Use this calendar for recurring group level reminders and meetings (Release kickoff, milestone planning, social calls)
   * To add the shared calendar to your Google Calendar, please use this [link](https://calendar.google.com/calendar/b/1?cid=Z2l0bGFiLmNvbV9rOWYyN2lqamExaGoxNzZvbmNuMWU4cXF2a0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t) (GitLab internal).
   * To add a meeting to the shared calendar, please add [the link in this document](https://docs.google.com/document/d/1IxGuORI-vfVd6irNdUwpnOBZDWALWzOqhQzC9E39ixQ/edit) to the event.
  * To add a new member to the shared calendar
    * Click "Settings and Sharing" in the kebab menu when mousing over "Manage Shared" in your Google Calendar sidebar under "My calendars".
    * Scroll to the "Share with specific people" section of the settings area. Click "Add people" and add the new member with "Make changes and manage sharing".
  * For a more detailed walkthrough, have a look at a quick [video walkthrough](https://www.youtube.com/watch?v=TmcPuuljf1w)

## Dashboards

- [Stage Development Metrics](https://app.periscopedata.com/app/gitlab/855124/Manage:Development-Metrics)
- [Customer priorities](https://app.periscopedata.com/app/gitlab/882533/Dev:-Manage-Customer-Priorities)
- [Performance indicator overview](/handbook/engineering/metrics/dev/manage/)

## Links and resources
{: #links}

<%= partial("handbook/engineering/development/dev/manage/shared_links.erb") %>
* Our handbook pages
  * [Authentication and Authorization](/handbook/engineering/development/dev/manage/authentication-and-authorization/)
  * [Foundations](/handbook/engineering/development/dev/manage/foundations/)
  * [Import and Integrate](/handbook/engineering/development/dev/manage/import-and-integrate/)
* Our Slack channels
  * Manage:Authentication and Authorization [#g_manage_auth](https://gitlab.slack.com/archives/CLM1D8QR0)
  * Manage:Foundations [#g_manage_foundations](https://gitlab.slack.com/messages/C010NAWPRV4)
  * Manage:Import and Integrate [#g_manage_import_and_integrate](https://gitlab.slack.com/archives/C04RDL3MEH5)
  * Manage:Organization [#g_manage_organization](https://gitlab.slack.com/archives/C02AZ7C32N5)
* Issue boards
  * Authentication and Authorization [build board](https://gitlab.com/groups/gitlab-org/-/boards/1305005) and [refinement board](https://gitlab.com/groups/gitlab-org/-/boards/1747837)
  * Foundations board placeholder
  * Import and Integrate [build board](https://gitlab.com/groups/gitlab-org/-/boards/1459244?milestone_title=Upcoming&label_name[]=group%3A%3Aimport%20and%20integrate)
